*.iws
*.ipr
*.iml
/.idea/
/.nb-gradle/
/.gradle/
/build/
/out/
/classes/
/.idea_modules/
atlassian-ide-plugin.xml
com_crashlytics_export_strings.xml
crashlytics.properties
crashlytics-build.properties
fabric.properties
db.ora.properties
db.mariadb.properties
db.maria.properties
db.mysql.properties
db.pg.properties
db.tsql.properties
local.properties